 /* Nama       : Sausan Berliana Arrizqi  
    NIM        : 24060122130092
    Lab        : PBP B1  
    Tanggal    : 15 September 2024 
    Deskripsi  : Tugas 3 Pemrosesan Form (Method GET & POST) */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #333;
}

/* Styling untuk form */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

.form-group span.error {
    color: red;
    font-size: 12px;
}

/* Tombol */
.btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-reset {
    background-color: #ff0000;
}

.btn-reset:hover {
    background-color: #ff0000;
}

/* Container untuk hasil POST */
.data-siswa-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-top: 20px;
}

/* Styling hasil data siswa */
.data-siswa {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    text-align: left;
}

/* Setiap item data siswa */
.data-siswa div {
    margin-bottom: 10px;
}
.data-siswa div span {
    font-weight: bold;
    display: inline-block;
    width: 150px;
}

/* List Ekstrakurikuler */
.data-siswa .ekstrakurikuler-list {
    list-style-type: none;
    padding: 0;
}
.data-siswa .ekstrakurikuler-list li {
    margin: 5px 0;
}

/* Responsif */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .data-siswa div span {
        width: 100px;
    }
}

@media (max-width: 480px) {
    .data-siswa div span {
        width: 80px;
    }
    
    .data-siswa {
        text-align: center;
    }
}
